.Modal {
    display: block;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: all 0.5s ease-in-out;
    font-family: 'Poppins', sans-serif;
}

.ModalDialog {
    @media screen and (min-width: 720px) {
        min-width: 720px;
    }
}


.ModalFade {
    opacity: 1;
}