@import '../../../../assets/scss/medias';


.Review {
    display: flex;
    align-items: center;
}

.ReviewForm {
    width: 95%;
}

.ReviewCard {
    width: 95%;
}

.ReviewCardNonEdit {
    width: 100%;
}

.ReviewCardEdit {
    padding-left: 5px;
}

.ReviewCardDelete {
    padding-left: 10px;

    img {
        width: 24px;
        height: 24px;
    }
}

.ReviewFormTextArea, .ReviewFormTextAreaUpdate {
    width: 100%;
    margin: auto;

    @include media_desktop {
        width: 70%;
    }
}

.ReviewFormTextArea {
    margin-top: 20px;
}

.ReviewFormTextAreaUpdate{
    width: 100%;
    min-height: unset;
    height: 200px;
    
    textarea {
        height: inherit;
    }
}

.ReviewFormSubmitButton {
    display: block;
    margin: 10px auto 30px;
}

.ReviewFormSubmitButtonUpdate {
    margin: 20px auto auto;
    float: right;
}