.HowToChoosePsyText {
    text-align: justify;
}

.HowToChoosePsyButton {
    margin-top: 15px;
    color: white;
    background: var(--bright-orange-color);
    border: 1px solid var(--bright-orange-color);
}
